* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#root {
  width: 100%;
  height: 100%;
  background-color: #ffffff !important;
}

.canvas-container {
  width: 100vw;
  height: 100vh;
  background-color: #ffffff !important;
}
